@model Stomatologia.Models.UmowWizyteViewModel

<form asp-action="PotwierdzWizyte" method="post">
    <div class="form-group">
            <label for="WybranyStomatologId">Wybierz stomatologa:</label>
            <select asp-for="WybranyStomatologId" class="form-control">
                @foreach (var stomatolog in ViewBag.AvailableStomatologists)
                {
                    <option value="@stomatolog.Id">@stomatolog.Imie @stomatolog.Nazwisko</option>
                }
            </select>
        </div>
        <label for="WybranaData">Wybierz datę wizyty:</label>
        <input type="date" class="form-control" asp-for="WybranaData" />
    
    <div class="form-group">
        <label for="WybranaGodzina">Wybierz godzinę wizyty:</label>
        <input type="time" class="form-control" asp-for="WybranaGodzina" />
    </div>
    <input type="submit" value="Umów wizytę" />
</form>
