@{
    ViewData["Title"] = "Potwierdzenie Wizyty";
}

<h2>Potwierdzenie Wizyty</h2>

<p>Wizyta została pomyślnie zapisana. Za 20sek nastąpi przekierowanie</p>

<script>
    // Przekieruj po 20 sekundach
    setTimeout(function () {
        window.location.href = '/Account/UmowWizyte';
    }, 20000);
</script>